/* center everything on the page */
main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* paragraph styles */
#bio {
    max-width: 38rem;
    margin-top: 2.5rem;
}

/* skills button styles */
#skills {
    background-image: linear-gradient(to right, #757F9A 0%, #D7DDE8  51%, #757F9A  100%);
    background-size: 200% auto;

    padding: 0.75rem 2rem;

    font-weight: 400;
    text-align: center;
    text-transform: uppercase;

    transition: 0.5s;
    color: black;

    box-shadow: 0 0 10px rgb(0, 0, 0, 0.5);
    border: none;
    border-radius: 10px;
  }

/* skills button animation */
#skills:hover {
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
  }