/* set display flex and wrapper to perfectly layout
project images on the webpage */
.flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 5rem;

    margin-top: 3rem;
}

/* project image styles */
.project-image {
    width: 80%;
    box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.75);
    transition: 0.3s;
}

/* project name styles */
.name {
    font-size: 1.2rem;
    text-transform: uppercase;
    margin-top: 1rem;
}

/* set "GitHub" text transition */
#github {
    transition: 0.3s;
}

/* "Full portfolio can be found on my GitHub" text styles */
h1:last-of-type {
    margin: 2rem 1rem;
}

/* media querry for tablets and desktop devices */
@media screen and (min-width: 768px) {
    .project-image {
        width: 32rem;
    }

    .project-image:hover {
        transform: scale(1.05);
    }

    .name:hover, #github:hover {
        color: cyan;
    }
}